<div class="ind_contact">
  <ul>
  <li> First name: <%= @contact.first_name%></li>
  <li> Last name: <%= @contact.last_name%></li>
  <li> e-mail: <%= @contact.email%></li>
  <li> Notes: <%= @contact.note %> </li>
  </ul>
<p>
   <a href="/contacts"> Go back to contacts</a>
</p>

</div>
