body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
}

h1 {
  background-color: #1a1a1a;
  color: white;
  font-size: 2em;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0.2em;
}

nav li {
  display: block;
  list-style-type: none;
  text-align: center;
  font-size: 1em;
  box-sizing: border-box;
  background-color:#a6a6a6;
  margin: 0.09em;
  padding: 0.2em;
  text-decoration: none;
}

nav li a{
  color: white;
  font-weight: bold;
}

nav li:hover{
  background-color: #e6e6e6;
  font-weight: bold;
}


nav ul {
  padding: 1px;
  margin-top: 0px;
}

nav {

}

footer {
  background-color: black;
  color: white;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 0.9em;
}

main ul {
  display: block;
  background-color: #66a3ff;
  color: black;
  list-style-type: none;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.4em;
}

main .all_contacts li {
  font-weight: bold;
  font-size: 1.2em;
}

main .all_contacts a{
  font-size: 0.8em;
  color: blue;
}

p {
  background-color: #ff9999;
  margin-left: 2.5em;
  margin-right: 2.5em;
  padding: 1em;
  font-size: 1.2em;
}

main .ind_contact  ul {
  border-width: 2px;
  border-color: black;
}

.homepage h1{
  color: purple;
  border-width: 2px;
  border-color: green;
}

nav a {
  text-decoration: none;
}

.all_contacts a{
  text-decoration: none;
  color: inherit;
}

.edit_contacts ul {
  display: -webkit-inline-box;
}
